<div th:fragment="footer"  style="height: 60px;line-height: 60px;text-align: center" class="layui-footer footer footer-demo layui-bg-cyan">
    <a href="javascript:readHistory()" style="font-size: 14px;color: #92B8B1;margin-left: 8px"><i class="layui-icon">&#xe60e;</i>Reading History</a>
    <a href="javascript:toMyCollect()" style="font-size: 14px;color: #92B8B1;margin-left: 8px"><i class="layui-icon">&#xe657;</i>BookShelf</a>


    <div style="float: right"><a href="#top"><i class="layui-icon"
                                                style="margin-right:15px;font-size: 30px;color:#92B8B1 ">&#xe604;</i></a>
    </div>
</div>